{
	email {$ACME_EMAIL}
	on_demand_tls {
		ask http://server:3000/internal/tls-ask
	}
}

(server_proxy) {
	@internal path /internal/*
	respond @internal 404
	reverse_proxy server:3000
}

{$ESPWAY_DOMAIN} {
	import server_proxy
}

admin.{$ESPWAY_DOMAIN} {
	import server_proxy
}

install.{$ESPWAY_DOMAIN} {
	@installer path / /index.html /manifest.json
	handle @installer {
		root * /srv/web-installer
		file_server
	}

	handle /firmware/* {
		reverse_proxy server:3000
	}

	respond 404
}

http://tunnel.{$ESPWAY_DOMAIN} {
	handle /tunnel {
		reverse_proxy server:3000
	}

	handle /firmware/* {
		reverse_proxy server:3000
	}

	respond 404
}

https:// {
	tls {
		on_demand
	}
	import server_proxy
}
